@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body > div {
		/* @apply w-screen h-screen flex flex-col bg-gray-100 justify-center; */
		@apply min-h-screen flex flex-col bg-blue-100 justify-center;
	}

	[type='text'],
	[type='email'],
	[type='url'],
	[type='password'],
	[type='number'],
	[type='date'],
	[type='datetime-local'],
	[type='month'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='week'],
	[multiple],
	textarea,
	select,
	input {
		@apply p-2 md:px-3 w-full border-gray-300 border shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
	}

	@font-face {
		font-family: AcademyEngraved;
		src: url(/fonts/AcademyEngravedStdRegular.otf);
	}
	
	@font-face {
		font-family: RockWellBold;
		src: url(/fonts/rockb.ttf);
	}

	@font-face {
		font-family: RockWell;
		src: url(/fonts/rockwell.ttf);
	}
}
